#conventions-header {
    background: url('http://charterbushouston.net/SiteAssets/GrandTransportation/convention.jpg');
    background-position: center center;
}

#conventions-header h2 {
    color: #FFF;
    font-size: 7em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    position: relative;
    top: 17px;
    padding-top: 120px;
}

.conventions-item {
    /*background-color: #f1f1f1;*/
}

.conventions-item:first-child {
    margin-top: 20px;
}

.conventions-item .date {
    float: left;
    text-align: center;
    margin: 20px;
}

.conventions-item .date .jour {
    font-size: 4em;
    line-height: 1em;
}

.conventions-item .infos {
    float: left;
    margin: 20px;
}

.conventions-item .description {
    margin: 20px;
    margin-top: 0;
    color: gray;
    font-style: italic;
}

.conventions-item .name {
    font-size: 1.4em;
}

.conventions-item .country-city {
    margin-top: 7px;
}

.conventions-item .country, .conventions-item .city {
    display: inline-block;
}

.conventions-item .country:after {
    content: ' - ';
}

.conventions-item .heure {
    color: gray;
}

#conventions-content hr:last-child {
    display: none;
}