main {
    height: 100%;
    background: url('http://www.wallpaperup.com/uploads/wallpapers/2012/09/06/12860/06f474daf49c0f1158bee81da68d54ed.jpg');
    background-size: contain;
}

#signup {
    padding-top: 20vh;
    color: #FFF;
}